*{
    margin: 0px;
    list-style-type: none;
    text-decoration: none;
}
body{
    font-family: 'AvenirNext', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
    background-color: rgb(237, 237, 237);
    
}

i{
    color: black;
}
.wrapper{ 
    position: relative;
    z-index: 1;
    overflow: hidden; 
}

.header{
    width: 100%;
    left: 0px;
    top: 0px; 
    z-index: 50;
    border: 1px solid rgb(186, 190, 197);
    position: fixed;
    background-color: rgb(255, 255, 255);
}

.header__container{
    width: 1120px;
    margin: 0 auto;
    display: flex;
    height: 52px;
    align-items: center;
}

.header__menu{
    margin: 0px 0px 0px 400px ;
}

.header__logo{
    color: inherit;
}

.menu__list{
    display: flex;
}

.menu__link{
    margin-left: 21px;
    color: inherit;
}

.menu__item{
    margin: 40px;
    color:black;
}

.registration{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration__container{
    max-width: 1046px;
    max-height: 500px;
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(186, 190, 197);
    border-radius: 5px;

}

.registration__content__title{
    text-align: center;
    padding:10px;
}

.registration__content__text{
    text-align: center;
    padding: 10px;
}

.registration__form__input
{
    width: 300px;
    height: 25px;
    margin: 0 auto;
    
}

.registration__form__label{
    display: flex;
    justify-content: start;
    margin: 20px 20px 0px 45px;
}


.registration__form{
    display: flex;
    flex-direction: column;
} 

.registration__form__button{
    display: block;
    margin: 50px auto;
    width: 300px;
    height: 44px;
    justify-content: center;
    font-family: 'AvenirNext', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #0975e0;
    color: white;
    border-radius: 5px;
}

.registration__form__button:hover{
    background-color:#0e68a3;
}

.footer{
    background-color: rgb(255, 255, 255);
    height: 160px;
}

.footer__container{
    width: 402px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.footer__content{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer__menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.footer__title{
    text-align: center;
    margin: 10px;
}


.footer__text{
    text-align: center;
    margin: 10px;
}

.footer__list{
    display: flex;
    flex-direction: row;
    margin-right: 47px;
}

.footer__item{
    margin:10px;
}