table {
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
}

h1{
    text-align: center;
}

th, td {
    text-align: left;
    padding: 0.5rem;
    border: 1px solid #dee2e6;
}

th {
    background-color: #f8f9fa;
    font-weight: bold;
}

.table-success th {
    background-color: #b4b4b4;
    color: #fff;
    border-color: #787878;
}

.table-success td {
    background-color: #b4b4b4;
    border-color: #28a745;
}