* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'AvenirNext', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
    height: 900px;
}


.header{
    width: 100%;
    height: 100px;
}

.header__container{
    width: 1120px;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
}

.header__buttons{
    height: 48px;
    width: 223px;
    display: flex;
    align-items:center;
    justify-content: space-around;
}

.header__button__sign{
    margin-left: 10px;
}

.header__button__href{
    padding: 12px; 
    font-size: 16px;
    font-weight: 600;
    border-radius: 24px;
    border: 1px solid #0a66c2;
    color: #0a66c2;
}

.header__button__google{
    margin-top: 30px;
}

.header__button__href2{
    padding: 12px; 
    font-size: 16px;
    font-weight: 600;
    border-radius: 24px;
    border: 1px solid black;
    color: black;
}

.header__button__href:hover{
    background-color: #0073b138;
}

.logo__photo{
    width: 135px;
    height: 34px;
}

.main{
    width: 100%;
    /* height: 800px; */
}

.main__container{
    width: 1120px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin: 0px auto;
}

.main__container__content{
    color: #0a66c2;
    margin-top: 50px;
}

.main__container__image{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.main__container__hero__image{
    max-height: 560px;
    margin-top: 50px;
}


.logo__hero{
    width: 700px;
    height: 560px;

}

.icon{
    width: 100px;
    height: 50px;
}