* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'AvenirNext', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
}

p{
    font-size: 13px;
}

.header{
    width: 100%;
    height: 100px;
}

.header__container{
    width: 1120px;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
}

.header__buttons{
    height: 48px;
    width: 223px;
    display: flex;
    align-items:center;
    justify-content: space-around;
}

.header__button__sign{
    margin-left: 10px;
}

.header__button__href{
    padding: 12px; 
    font-size: 16px;
    font-weight: 600;
    border-radius: 24px;
    border: 1px solid #0a66c2;
    color: #0a66c2;
}

.header__button__href:hover{
    background-color: #0073b138;
}

.header__button__google{
    margin-top: 30px;
}

.main__button__href{
    display: flex;
    justify-content: center;
    width: 320px;
    padding: 12px;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    border-radius: 24px;
    border: 1px solid black;
    color: black;
}

.main__button__href:hover{
    background-color: rgba(224, 224, 224, 0.577);
}

.logo__photo{
    width: 135px;
    height: 34px;
}

.main{
    width: 100%;
}

.main__button__google{
    height: 60px;
}

.main__container{
    width: 1120px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin: 0px auto;
}

.main__container__content{
    color: #0a66c2;
    margin-top: 60px;
}

.main__container__image{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.main__container__hero__image{
    max-height: 560px;
    margin-top: 60px;
}


.logo__hero{
    width: 700px;
    height: 560px;

}

.main__google__img{
    display: flex;
    align-items: center;
}

.main__google__text{
    margin-left: 25px;
}

.logo__google{
    width: 30px;
    height: 25px;
}

.icon{
    width: 100px;
    height: 50px;
}

.footer{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.registration__form{
    display: flex;
    flex-direction: column;
    margin: 10px 0px 20px 0px;
}

.registration__form__label{
    font-size: 16px;
    color: #0b0b0b;
    margin:20px 0px 8px ;
    border-radius: 4px;
    font-weight:  500;
}


.main__container__input{
    width: 80%;
    height: 53px;
}

input[type="email"]{
    font-family: 'AvenirNext', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding-left: 8px;
}

input[type="password"]{
    font-family: 'AvenirNext', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding-left: 8px;
}

input:active{
    border-color: black;
}

input:hover{
    background-color: #a2a2a238;
}

.registration__form__button{
    width: 320px;
    height: 48px;
    border-radius: 24px;
    background-color: #0a66c2;
    color: white;
    font-family:'AvenirNext', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    border: none;
    margin-top: 15px;
}

.registration__form__button:hover{
    background-color:#004182 ;
}


.main__signin__href:hover{
    background-color:#004182 ;
}

.main__text__between{
    text-align: center;
    width: 320px;
    height: 30px;
    margin:10px 0px 0px 0px  ;
    color: black;
}
 
.separator {
    display: flex;
    align-items: center;
    text-align: center;
    width: 320px;
    margin: 10px 0px 10px 0px ;
    color: #000;
}
  
.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
}
  
.separator:not(:empty)::before {
    margin-right: .55em;
}
  
.separator:not(:empty)::after {
    margin-left: .55em;
}
