h1{
    margin-block-start: 0em;
    margin-block-end: 0em;
    
}
p{
    margin-block-start: 0em;
    margin-block-end: 0em;
    
}

ul{
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.main__container{
    width: 1120px;
    height: 800px;
    margin: 0 auto;
    display: flex;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.main__profile{
    flex-basis: 70%; 
}

.main__profile__info{
    background-color: #fff;
    border-radius: 5px;
}


.profile__background{
    width: 100%;
    height: 200px;
    border-radius: 5px;
}

.main__profile__img {
    width: 90px;
    border-radius: 50%;
    background: #fff;
    padding: 4px;
    margin-top: -90px;
}

.main__profile__job{
    font-size: 16px;
}

.main__profile__content{
    width: 400px;
    padding: 15px;
}

.main__profile__bio{
    font-size: 18px;
}

.main__profile__posts{
    margin-top: 15px;
    background-color:#fff;
    padding: 20px;
    border-radius: 5px;
}

.side__profile{
    flex-basis: 25%;
    background-color: #fff;
    position: sticky;
    border-radius: 5px;
    padding: 10px;
}

.post__button__follow {
    display: inline-block;
    margin-top: 10px;
    /* margin-right: 10px; */
    background: #339DFF;
    color: #fff;
    text-decoration: none;
    border: none;
    font-size: 16px;
    font-family: 'AvenirNext', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 38px;
    border-radius: 50px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width: 170px;
    text-align: center;
}
  
.post__button__follow:hover {
    background: #fff;
    color: #339DFF;
    box-shadow: 0 4px 4px rgba(83, 100, 255, 0.32);
}

.post__button__unfollow{
    display: inline-block;
    margin-top: 10px;
    /* margin-right: 10px; */
    background: #ff3333;
    color: #fff;
    text-decoration: none;
    border: none;
    font-size: 16px;
    font-family: 'AvenirNext', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 38px;
    border-radius: 50px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width: 170px;
    text-align: center;

}

.post__button__unfollow:hover {
    background: #fff;
    color: #339DFF;
    box-shadow: 0 4px 4px rgba(255, 83, 83, 0.32);
}

.post__content{
    display: flex;
    flex-direction: column;
}
.post__content span{
    font-weight: 600;
}

.post__content hr{
    flex: 1;
    border: 0;
    height: 1px;
    color: rgba(0, 0, 0, 0.12);
}

.post__title{
    font-size: 14px;
    margin-bottom: 5px;
}

.main__profile__wrappper{
    display: flex;
    justify-content: space-between;
}

.main__profile__edit{
    display: flex;
    align-items: center;
    padding: 15px;
}

.user__profile__img{
    width: 90px;
    border-radius: 50%;
    background: #fff;
    padding: 4px;
    margin-top: -90px;
}

.main__profile__logoedit{
    display: flex;
    align-items: center;
    padding: 7px;
}

.main__profile__logoedit:hover{
    border-radius: 50%;
    background-color: rgba(204, 204, 204, 0.714);
    transition: 0.3ms;

}

.main__profile__logoedit a{
    width: 24px;
    height: 24px;
}

.main__profile__follows{
    margin-top: 5px;
}
.main__profile__ul{
    display: flex;
    font-size: 14px;
}

.main__profile__ul span{
    font-weight: 500;
}

.main__profile__li:last-child{
    margin-left: 5px;
}

.main__posts hr{
    color: rgba(0, 0, 0, 0.12);
}

.main__posts__text{
    margin-bottom: 5px;
}