*{
    list-style-type: none;
    text-decoration: none;
}
body{
    /* margin: 0px; */
    font-family: 'AvenirNext', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
    background-color: rgb(237, 237, 237);
    
}

i{
    color: black;
}

a{
    color: black;
}


.header{
    width: 100%;
    max-height: 53px;
    left: 0px;
    top: 0px; 
    z-index: 100;
    border: 1px solid rgb(186, 190, 197);
    position: fixed;
    background-color: rgb(255, 255, 255);
}

.header__container{
    width: 1120px;
    height: 55px;
    /* min-height: 50%; */
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.header__nav{
    max-height: 100%;
    width: 500px;
}

.header__logo{
    color: inherit;
}

.logoimg{
    display: block;
    width: 34.17px;
    height: 34.17px; 
}

.menu__list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    height: 55px;
}

.menu__link{
    margin-left: 21px;
    color: inherit;
}

/* .menu__item{
    /* display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 6px;
} */

.menu__item__href{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    
}

.menu__item__span{
    font-size: 12px;
    margin-bottom:5px;
}


.logo__nav__text{
    width: 34.17px;
    height: 34.17px; 
}


.header__input__container {
    position: relative;
    margin-left: 10px;
}

.header__input{
    width: 280px;
    height: 34px;
    background-color: #eef3f8;
    border: none;
    border-radius: 5px;
    box-decoration-break: none;
}

.header__input__container input[type="text"] {
    padding-right: 30px;
}
  
.header__input__container i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.header__exit{
    display: flex;
    align-items: center;
    
    height: 100%;
    margin-bottom: 9px;
}
 
.header__exit__href{
    display: flex;
    align-items: center;
}

.profile__account{
    margin-top: 5px;
    margin-left: 210px;
}

.profile__href{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}