h1, h2{
    margin-block-start: 0em;
    margin-block-end: 0em;
}


p{
    margin-block-start: 0em;
    margin-block-end: 0em;
}

ul{
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}


.main__container{
    overflow: hidden;
    width:1128px ;
    height: 850px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
}


.leftside{
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.12);
    border-right: none;
    border-radius: 5px;
    width: 386px;
    height: 652px;
    /* overflow: scroll; */

}

.leftside__title {
    background-color: #0a66c2;
    color: #fff;
    padding: 8px;
    border-top-left-radius: 5px;
    border-bottom: none;
}

.leftside__title h1{
    font-size: 16px;
    font-weight: 400;
}

.leftside__title p{
    font-size:12px ;
}

.lefside__company__img{
    max-width: 54px;
    height: 54px;

}

/* .leftside__li__description span{
    font-size: 16px;
    font-weight: 600;
    color: #0a66c2;
} */

.leftside__li__logo{
    margin: 10px 10px 0px 10px;

}

.leftside__li__wrapper {
    cursor: pointer;
    display: flex;
    border-bottom: 1px solid rgba(0,0,0,0.12);
}

.leftside__li__description{
    width: 270px;
    padding: 3px;
}

.leftside__li__description a{
    font-size: 16px;
    font-weight: 900;
    color: #0a66c2;
}

.leftside__li__description p{
    font-size: 14px;
    font-weight: 400;
    color: black;
}

.leftside__li__country{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 7px;
}

.leftside__li__time{
    color: rgba(0, 0, 0, 0.6);
}

.left__li__icon{
    display: flex;
    align-items: center;
}

.rightside{
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.12);
    width: 650px;
    height: 652px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: scroll;
}


.job__content h2{
    font-size: 24px;

}

.job__content{
    padding: 25px ;
    font-size: 16px;
}


.job__description{
    font-size: 16px;
}

.job__info{
    font-size: 14px;
    font-weight: 300;
    margin-top: 10px;
} 

.job__skills__ul{
    margin-top: 10px;
    margin-bottom: 10px;
}

.job__ul{
    display: flex;
    flex-direction: column;
    
}

.job__li{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.job__li__skills{
    margin-left: 10px;
}

.job__li__skills p {
    white-space: pre-line;
}

.job__action{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}
.job__button{
    width: 242px;
    height: 40px;
    border-radius: 24px;
    background-color: #0a66c2;
    color: white;
    font-family:'AvenirNext', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.job__save{
    margin-left: 10px;
    font-family:'AvenirNext', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 124px;
    height: 40px;
    border-radius: 24px;
    color: #0a66c2;
    border:1px solid  #0a66c2;
    font-size: 18px;
    font-weight: 600;
}
.job__button:hover{
    background-color:#004182 ;
}

.job__save:hover{
    background-color: #0073b138;
}


.leftside__li__wrapper:hover {
    background-color: #0073b138;
}