{% extends 'navbar.html' %}
{% load static %}
{% block content  %}
<br>
<br>
<br>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/events-list.css' %}"> 
</head>
<div class="main__container">
    <h3>Events for you</h3>

    <div class="top__slide">
        {% for event in events %}
        <div class="slide"> 
            <div class="top__img">
                <img src="{{ event.event_img }}" alt="" class="top__img__path">
            </div>  
            <div class="top__content">
                <span>{{ event.event_name }}</span>
                <p>{{ event.event_datatime }}</p>
                <p>{{ event.event_type }}</p>
                <div class="top__site__href">
                    <a href="{{ event.event_url }}" class="top__href">
                        View
                    </a>
                </div>
            </div>
        
        </div>
        {% endfor %}
        
    </div>


</div>

{% endblock %}