{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home-page.css' %}"> 
    <script src="{% static 'js/home-page.js' %}"></script>
</head>

<br>
<br>
<br>



{% if messages %}
<ul class="messages">
    {% for message in messages %}
        <li class="{{ message.tags }}">
            {{ message|safe }}
            <a href="{% url 'home' %}" class="close">x</a>
        </li>
    {% endfor %}
</ul>
{% endif %}
 <div class="main__container">



    <div class="left-sidebar">
        <div class="sidebar-profile-box">

            <img src="/static/img/Abstract Background.jpeg" width="100%">

            <div class="sidebar-profile-info">
                <a href="{% url 'profile' request.user.id %}">
                    {% if profile.profile_image %}
                        <img src="{{ profile.profile_image.url }}" class="main__profile__img" width="100px" height="100px">
                        {% else %}
                        <img src="/static/img/person-circle.jpg" >
                    {% endif %}
                    
                </a>
                <div class="sidebar-profile-text">   
                    <h1>{{ user.username }}</h1>
                    {% if profile.first_name != None %}
                        {{ profile.first_name }} 
                        {{ profile.last_name }} 
                        <h3>{{ profile.education }}</h3>
                        <h3>{{ profile.jobs }}</h3>
                    {% else %} 
                    <p> -- </p>
                    {% endif %}   

                </div>



                <ul class="left-sidebar-ul">
                    <li class="left-sidebar-li">
                        <a href="#"class="left-sidebar-href" > 
                            <div class="left-sidebar-text">Your profile subscribers</div>
                            <div class="left-sidebar-numbers-followers">{{ number_of_followers }}</div>
                        </a>
                    </li>
                    <li class="left-sidebar-li">
                        <a href="{% url 'profile' request.user.id  %}" class="left-sidebar-href"> 
                            <div class="left-sidebar-text">Your posts </div>
                            <div class="left-sidebar-numbers-posts">{{ user_posts.count }}</div> 
                        </a>
                    </li>
                    <li class="left-sidebar-li"> 
                        <a href="{% url 'favourite_list' %}" class="left-sidebar-href">
                            <div class="left-sidebar-text">Your elements </div>
                            <div class="left-sidebar-numbers">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-fill" viewBox="0 0 16 16">
                                        <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z"/>
                                    </svg>
                            </div>
                        </a> 
                    </li>
                    <li class="left-sidebar-li"> 
                        <a href="{% url 'events_list' %}" class="left-sidebar-href">
                            <div class="left-sidebar-text">Events</div>
                            <div class="left-sidebar-numbers">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-event" viewBox="0 0 16 16">
                                        <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
                                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                                    </svg>
                            </div>
                        </a>
                    </li>
                </ul>
            
            </div>

        </div>



    </div>
    

    <div class="main__content">
        <div class="main__content__post">
            <div class="main__content__input">
                {% if profile.profile_image %}
                <img src="{{ profile.profile_image.url }}" class="main__post__img">
                {% else %}
                <img src="/static/img/person-circle.jpg" class="main__post__img" alt="">
                {% endif %}
                {% if form %}
                <form class="form__post" method="POST">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <button class="submit-button" type="submit">
                            Post
                    </button>
                </form>
                {% endif %}
            </div>
            

        </div>
        <div class="sort-by">
            <hr>
            <form action="{% url 'home' %}" method="get" >
                <button type="submit" class="sort__by__button">Sort by</button>
                
                    <select name="order_by">
                        <option value="-created_at" >latest</option>
                        <option value="likes">popularity</option>
                    </select>
                
            </form>
            
        </div>
            
        <div class="post">
            
                {% for post in posts %}
                <div class="post__user">
                    <div class="post__bio">

                        <div class="post__user__profile">
                            {% if  post.user.profile.profile_image %}
                            <a href="{% url 'profile' post.user.id %}"><img src="{{ post.user.profile.profile_image.url }}" class="post__profile__img"></a>
                            {% else %}
                            <a href="{% url 'profile' post.user.id %}"><img src="/static/img/person-circle.jpg" class="post__profile__img"></a>
                            {% endif %}
                        </div>

                        <div class="post__text">

                            <a href="{% url 'profile' post.user.id %}"><span>{{ post.user.username }}</span></a>
                            <br>
                            {{ post.created_at }} 
                            
                        </div>

                    </div>

                    <div class="post__body">
                        {{ post.body }} <br>
                    </div>
                    {% if user in post.likes.all %}
                    <div class="post__like">

                        <p class="likes"> {{ post.likes_count }} Likes - </p>
                        
                        <div class="post__heart">
                            <a href="{% url 'post_likes' post.id %}"> 
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                  </svg>
                            </a> 
                        </div>

                    </div>
                  
                    {% else %}
                    <div class="post__like">

                        <p class="likes">{{ post.likes_count }} Likes - </p> 
                        <div class="post__heart">
                            <a href="{% url 'post_likes' post.id %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-heart" viewBox="0 0 16 16">
                                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                </svg> 
                            </a> 
                        </div>

                    </div>


                    {% endif %}
                </div>
                <br>
                {% endfor %}  
        
        </div>

        <br><br>
    </div>    

    <div class="right-sidebar">
            
            <div class="right-sidebar-hiring ">
                
                <a href="{% url 'vacancies' %}">
                    <img src="/static/img/hiring.png" alt="" class="right-sidebar-img">
                </a>
            </div>
        </div>

        
</div> 
{% endblock %}  