{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="{% static 'css/initial-style.css' %}"  rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="icon" type="/img/png" href="/static/img/linkedin_logo.png">
</head> 

<body>
    <br>
        
  

<header class="header">
    <div class="header__container">
            <a href="{% url 'main' %}">
                <img src="/static/img/LinkedIn_Logo.svg" alt="photo" class="logo__photo">
            </a>
        
        <div class="header__buttons">
            <div class="header__button__join">

                <a href="{% url 'signup' %}" class="header__button__href">Join now</a>
            </div>

        </div>    
    </div>
</header>

<main class="main">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">
                {{ message|safe }}
                <a href="{%url 'main'%}" class="close">x</a>
            </li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="main__container">
        <div class="main__container__content">

            <div class="main__container__title">
                <h1>Welcome to your professional community </h1>
            </div>

            <form action="{% url 'main'%}" class="registration__form" method='POST'>
                {% csrf_token %}
                <label for="" class="registration__form__label">Username</label>
                <input type="text" class="main__container__input" placeholder="Your username" name="username">
                <label for="" class="registration__form__label">Password</label>
                <input type="password" class="main__container__input" placeholder="Your password" name="password">
                
                <button type="submit"  class="registration__form__button">Sign in</button>
            </form> 

            <div class="separator"> 
               or
            </div>
            
            <div class="main__button__google">
                <a href="#" class="main__button__href">
                   <div class="main__google__img"><img src="/static/img/image2vector.svg" alt="logo" class="logo__google"></div>

                    <div class="main__google__text">Sign with Google</div>
                </a>
            </div>
        </div>

        <div class="main__container__image">
            <div class="main__container__hero__image">

                <img src="/static/img/logo_hero.svg" alt="photo_main" class="logo__hero">
            </div>
        </div>
    </div>


</main>

<footer class="footer">
    <p>Yurii Robak © 2023</p>
</footer>

</body>
</html>