{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>join now</title>
</head>
<body>
    <h1>Hello You need to SignUp here</h1>

    <form action="/signup" method="POST">
        {% csrf_token %}
        <label for="first_name" class="registration__form__label">Name</label>
        <input type="text" class="registration__form__input" name="first_name" placeholder="Enter your name" required>
        <br>
        <label for="last_name" class="registration__form__label">Last Name</label>
        <input type="text" class="registration__form__input" name="last_name" placeholder="Enter your last name" required>
        <br>
          
        <label for="username" class="registration__form__label">Username</label>
        <input type="text" class="registration__form__input" name="username" placeholder="Create a username" required>
        <br>

        <label for="email" class="registration__form__label" >Email</label>
        <input type="eamil" class="registration__form__input" name="email" placeholder="Enter your email address" required>
        <br>
        
        <label for="password" class="registration__form__label">Password</label>
        <input type="password" class="registration__form__input" name="password" placeholder="Create a password" required>
        
        <br>
        <button type="submit"  class="registration__form__button">Create account</button>
        

    </form>


</body>
</html>