{% extends 'navbar.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/vacancies.css' %}"> 
<br>
<br>
<br>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">
                {{ message|safe }}
                <a href="{% url 'vacancies' %}" class="close">x</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}


<div class="main__container__vacancies">
    <div class="left__content__jobs">

        <div class="left__content">
            <div class="left__content__info">
            Here you can choose vacancies
            </div>
        </div>

    </div>

    <div class="main__content__jobs">
        <div class="main__content__vacancies">
            <div class="main__content__title">
                <h1>Looking for a developers</h1>
            </div>
            <div class="main__content__text">
                <p>Vacancies that you may miss</p>
            </div>
            
            <div class="main__list__vacancies" >
                <ul class="main__list__ul">
                    {% for vac in vacancy %}
                    <li class="main__list__li">
                        <div class="main__li__wrapper">
                                <div class="main__li__logo">
                                    <img src="{{ vac.company.logo.url }}" class="main__company__img">
                                </div>
                                <div class="main__li__description">
                                    <a href="{% url 'vacancies_recommended' vac.id %}"> 
                                        <span class="li__speciality">{{ vac.position }}</span>
                                        <p>{{ vac.company.name }}</p>
                                        <span class="li__geo">{{ vac.vacancy_region  }}</span>
                                    </a>
                                </div>
                                <div class="main__li__icon">
                                    <a href="{% url 'favourite_add' vac.id %}">

                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                                            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                                          </svg>

                                    </a>
                                </div>

                        </div>
                    </li>
                    {% endfor %}
                </ul>


            </div>

        </div>

    </div>

    <div class="right__content__jobs">
    </div>



</div>

{% endblock %}
