{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<head>

    <link rel="stylesheet" type="text/css" href="{% static 'css/vacancies-recomend.css' %}"> 
    <script src="{% static 'js/home-page.js' %}"></script>

</head>

<br>
<br>
<br>

<div class="main__container">
    <div class="leftside">
        <div class="leftside__title">
            <h1>Jobs based on your profile</h1>
            <p>5 vacancies</p>
        </div>
        <div class="leftside__vancies__list">
            <ul>
                {% for vac in vacancies_all %}
                <li class="leftside__list__li">
                    <div id="leftside__li__wrapper">
                        <div class="leftside__li__logo">
                            <img src="{{ vac.company.logo.url }}" class="lefside__company__img">
                        </div>
                        <div class="leftside__li__description">
                            <a href="{% url 'vacancies_recommended' vac.id %}">
                                {{ vac.position }} 
                            <p>{{ vac.company.name }} </p>
                            <p class="leftside__li__country">{{ vac.region }}</p>
                            <p class="leftside__li__time">{{ vac.date_created }}</p>
                            </a>
                        </div>
                        <div class="left__li__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                            </svg>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>

        </div>
    </div>

    <div class="rightside">
        <div class="job__content">
            <h2>{{ vacancy.position }}</h2>
            <div class="job__info">
                {{ vacancy.company.name }}
                {{ company_profile.company_location }}
            </div>
            <div class="job__description">

                {{ vacancy.bio_vacancy }}
            </div>

        </div>
    </div>

</div>


{% endblock %}