<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="{% static 'registrationapp/css/style.css'%}" rel="stylesheet">
    <title>Document</title>
</head>
<body>
<div class="example-block">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quas sit illo alias praesentium quos cupiditate dolorem reiciendis voluptatum dolore! Assumenda, eaque? Soluta adipisci ipsa, illo vero beatae obcaecati quam?
</div>

</body>
</html>