<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="{% static 'registrationapp/css/style.css'%}" rel="stylesheet">
    <title>Document</title>
</head>
<body>


    <form action="", method="POST">
      {% csrf_token %}
      
        <h1>Registration</h1>
        <div>
          <input type="text" id="name" name="firstname" placeholder="Your name">
        </div>
      
        <div>
          
          <input type="text" id="surname" name="lastname" placeholder="Your surname">
        </div>

        <div>
          
          <input type="text" id="username" name="username" placeholder="Your username">
        </div>
      
        <div>
          <input type="text" id="email" name="email" placeholder="Your email">
        </div>
        <div>
          <input type="password" id="password" name="password" placeholder="Your password">
        </div>
      
        <div>
          <button type="submit" class="button">Sign UP</button>
        </div>

      </form>
      

</body>
</html>